#cardBase {
  width: 100%;
  height: 100%;
  background-color: #e2e666;
  word-wrap: break-word;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 16px;
}
.mat-card-header {
  flex-shrink: 0;
}
.mat-card-actions {
    display: flex;
    flex-direction: row;
}
  /*.mat-card-content {
    flex-grow: 2;
    overflow: auto;
  }*/
.mat-card-content {
  flex-grow: 1;
  overflow: auto;
}

#username {
    text-transform: capitalize;
}

.voteArrow {
    font-size: 2em;
}

.arrowVoted {
    color: green;
}

.arrowNotVoted {
    color: black;
}

.voteCount {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 1em;
    margin-right: 1em;  
}
