<mat-card id="cardBase">
  <div class="d-flex justify-content-between" id="postHeader">
    <h5 id="username">{{Username}}</h5>
    <p id="timeLeft">
      <countdown #counter [config]="TimeConfig" (event)="HandleEvent($event)"></countdown>
    </p>
  </div>
  <mat-card-content>
    <p>
      {{Text}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button (click)="vote()"><i [ngClass]="{'arrowVoted' : arrowVoted, 'arrowNotVoted' : !arrowVoted}" class="fas fa-arrow-up voteArrow"></i></button>
    <span class="voteCount">{{ numberVotes }}</span>
    <div *ngIf="errorNotLoggedIn" class="alert alert-danger">
      <div>Log in to vote</div>
    </div>
  </mat-card-actions>
  
</mat-card>
