<div class="spinner-container">
  <ngx-spinner [fullScreen]="false"
    type="ball-scale-multiple"
    class="post-spinner"
    bdColor="rgba(0,0,0,0)">
  </ngx-spinner>
  @if (Posts) {
    <div class="post-container">
      @for (p of Posts; track p.pid) {
        <div>
          <app-post class="post" [text]="p.text" [username]="p.username" [created]="p.created" [pid]="p.pid" [vote-count]="p.voteCount" [voted]="p.voted" (delete)="deletePost($event)"></app-post>
        </div>
      }
    </div>
  }
</div>
